<div class="container">
  <div class="mb-4">
    <button class="btn btn-info mx-2" routerLink="/addowner/{{ owner.id }}">
      EDIT OWNER
    </button>
    <button class="btn btn-danger mx-2" (click)="delete(owner)">
      DELETE OWNER
    </button>
    <button class="btn btn-info mx-2" routerLink="/addpet/{{ owner.id }}">
      ADD NEW PET
    </button>
    <button class="btn btn-dark mx-2" routerLink="/owners">
      OWNERS
    </button>
  </div>
  <h2 class="mb-4 text-center">{{ owner.firstName }} {{ owner.lastName }}</h2>
  <table class="table info">
    <tr>
      <th class="table-dark">Name</th>
      <td>{{ owner.firstName }} {{ owner.lastName }}</td>
    </tr>
    <tr>
      <th class="table-dark">Address</th>
      <td>{{ owner.address }}</td>
    </tr>
    <tr>
      <th class="table-dark">City</th>
      <td>{{ owner.city }}</td>
    </tr>
    <tr>
      <th class="table-dark">Telephone</th>
      <td>{{ owner.telephone }}</td>
    </tr>
  </table>

  <div class="my-4">
    <h2>Pets</h2>
    <app-pets
      *ngFor="let pet of owner.pets"
      [pet]="pet"
      (deletedPet)="listPets($event)"
    ></app-pets>
  </div>
</div>
