<div class="container">
  <h2 class="mb-4">Owner {{ owner.firstName }} {{ owner.lastName }}</h2>
  <table class="table table:hover">
    <tr>
      <th class="table-dark">Name</th>
      <td>{{ owner.firstName }} {{ owner.lastName }}</td>
    </tr>
    <tr>
      <th class="table-dark">Address</th>
      <td>{{ owner.address }}</td>
    </tr>
    <tr>
      <th class="table-dark">City</th>
      <td>{{ owner.city }}</td>
    </tr>
    <tr>
      <th class="table-dark">Telephone</th>
      <td>{{ owner.telephone }}</td>
    </tr>
  </table>
</div>
