<div class="container">
  <div class="mb-4">
    <button class="btn btn-info mx-2" routerLink="/addowner/{{ owner.id }}">
      EDIT OWNER
    </button>
    <button class="btn btn-danger mx-2" (click)="delete(owner)">
      DELETE OWNER
    </button>
    <button class="btn btn-info mx-2" routerLink="/addpet/{{ owner.id }}">
      ADD NEW PET
    </button>
    <button class="btn btn-dark mx-2" routerLink="/owners">
      OWNERS
    </button>
  </div>
  <h2 class="mb-4 text-center">
    {{ listOwner.firstName }} {{ listOwner.lastName }}
  </h2>
  <table class="table table:hover">
    <tr>
      <th class="table-dark">Name</th>
      <td>{{ listOwner.firstName }} {{ listOwner.lastName }}</td>
    </tr>
    <tr>
      <th class="table-dark">Address</th>
      <td>{{ listOwner.address }}</td>
    </tr>
    <tr>
      <th class="table-dark">City</th>
      <td>{{ listOwner.city }}</td>
    </tr>
    <tr>
      <th class="table-dark">Telephone</th>
      <td>{{ listOwner.telephone }}</td>
    </tr>
    <tr *ngIf="listOwner.pets">
      <th class="table-dark">Pets</th>
      <td>{{ listOwner.pets }}</td>
    </tr>
  </table>

  <div class="my-4">
    <h2>Pets</h2>
    <app-pets *ngFor="let pet of owner.pets" [pet]="pet"></app-pets>
  </div>
</div>
