<div class="container">
  <h2>Oh Capitán, My Capitán</h2>
  <pre>
    Oh capitán
    Tu que quiebras mis cadenas
    Tu que me haces tiritar
    Tu mi patria sin bandera
    Tus mis alas pa volar
    Tu mi desgarro de anhelos
    Tu la voz de mis desvelos
    Tu presente tempestad
    Devuélveme
    La libertad
    Devuélveme
    La libertad
    Tu que desenredas nuestra sombra
    Tu que resucitas mi compás
    Tu luchando al frente de los míos
    Tu mi más febril debilidad
    Tu mi planetario de canciones
    Tu mi gaditano despertar
    Tu mi trono en piedra ostionería
    Tu el que manda en mi trinchera
    Tu mi vicio y mi pecado
    Mas mortal
    Mi realidad más pura y más bonita
    de diez a doce encerrao en un portal
    Allí donde mis sueños cobran vida
    Allí donde me haces especial
    Soñando con que abras cortinas
    Y otra vez contigo
    Y otra vez mi hogar
    Soñando con venirte aquí a cantar
    Oh capitán, mi capitán
    Oh capitán
    Eres música y letra
    Un estribillo
    Un trabalenguas
    Y eres piñata
    Disfraz y canción
    Y eres guitarra
    Y mi clave de sol
    Y eres tanguillo
    Bombo y platillo
    Faro de presentación
    Y eres papelillos
    Y eres serpentinas
    Y eres plumero y pregón
    Y eres un tachin tatachin
    Tretoreto tachin
    A nudillo y pulgón
    Y eres gaditana y los Duros Antiguos
    Y Antonio
    Cantando Charlot
    Y eres
    El Carota y Fletilla
    El Sopa y el Peña
    Y Aguillo y Pepón
    Y eres la magia del caos
    La más pura anarquía de la creación
    Oh capitán
    Oh capitán mi carnaval
    Oh carnaval mi capitán
    Oh capitán mi carnaval
    Oh capitán
    Tu carnaval
    </pre
  >
</div>
