<div class="container">
  <h2>{{ accion }} Visit</h2>
  <div class="row mt-4">
    <div class="col-6">
      <form
        class="form-horizontal"
        #visitForm="ngForm"
        (ngSubmit)="onSubmit(visitForm.value)"
      >
        <div class="form-group">
          <label>Pet</label>
          <input
            type="text"
            class="form-control"
            readonly
            value="{{ pet.name }}"
          />
        </div>
        <div class="form-group">
          <label>Date</label>
          <input
            type="date"
            class="form-control"
            required
            [(ngModel)]="visit.visitDate"
            name="visitDate"
            #visitDate="ngModel"
          />
        </div>
        <div
          [hidden]="visitDate.valid || visitDate.pristine"
          class="alert alert-danger"
        >
          Date is required
        </div>
        <div class="form-group">
          <label>Description</label>
          <input
            type="description"
            class="form-control"
            required
            [(ngModel)]="visit.description"
            name="description"
            #description="ngModel"
          />
        </div>
        <div
          [hidden]="description.valid || description.pristine"
          class="alert alert-danger"
        >
          Description is required
        </div>
        <div class="mt-4">
          <button class="btn btn-success mx-2" [disabled]="!visitForm.valid">
            {{ accion }}
          </button>
          <button
            class="btn btn-danger"
            routerLink="/owners/{{ pet.owner_id }} "
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
