<div class="container">
  <div class="row my-4">
    <div class="col-9 col-xl-10"><h2>Owners</h2></div>
    <div class="col-3 col-xl-2">
      <button class="btn btn-dark" routerLink="/addowner/-1">
        Add Owner
      </button>
    </div>
  </div>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Telephone</th>
        <th>Pets</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let owner of owners">
        <td>
          <a routerLink="/owners/{{ owner.id }}">
            {{ owner.firstName }} {{ owner.lastName }}
          </a>
        </td>
        <td>{{ owner.address }}</td>
        <td>{{ owner.city }}</td>
        <td>{{ owner.telephone }}</td>
        <td>{{ owner.pets }}</td>
      </tr>
    </tbody>
  </table>
</div>
