<div class="container my-4">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item list-group-item-dark ">
      <a routerLink="/" routerLinkActive="active">Inicio</a>
    </li>
    <li class="list-group-item list-group-item-dark ">
      <a routerLink="/owners" routerLinkActive="active">Owners</a>
    </li>
    <li class="list-group-item list-group-item-dark ">
      <a routerLink="/vets" routerLinkActive="active">Vets</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
