<div class="my-4">
  <h2>Pets</h2>
</div>
<div class="row my-5" *ngFor="let pet of pets">
  <div class="col-12">
    <h3>{{ pet.name }}</h3>
  </div>
  <div class="col-5">
    <h4 class="text-center">Info</h4>
    <table class="table">
      <tr>
        <th class="table-dark">Name</th>
        <td>{{ pet.name }}</td>
      </tr>
      <tr>
        <th class="table-dark">Birth Date</th>
        <td>{{ pet.birthDate }}</td>
      </tr>
      <tr>
        <th class="table-dark">Type</th>
        <td>{{ pet.typeName }}</td>
      </tr>
    </table>
  </div>

  <div class="col-7" *ngIf="pet.visits.length > 0">
    <app-visits [pet]="pet"></app-visits>
  </div>
  <div class="col-12">
    <button class="btn btn-info mr-2" routerLink="/editpet/{{ pet.id }}">
      EDIT PET
    </button>
    <button class="btn btn-danger mr-2" (click)="deletePet(pet)">
      DELETE PET
    </button>
    <button class="btn btn-info" routerLink="/addvisit/{{ pet.id }}">
      ADD VISIT
    </button>
  </div>
</div>
