<div class="row my-5">
  <div class="col-12">
    <h3>{{ pet.name }}</h3>
  </div>
  <div class="col-5">
    <h4 class="text-center">Info</h4>
    <table class="table">
      <tr>
        <th class="table-dark">Name</th>
        <td>{{ pet.name }}</td>
      </tr>
      <tr>
        <th class="table-dark">Birth Date</th>
        <td>{{ pet.birthDate }}</td>
      </tr>
      <tr>
        <th class="table-dark">Type</th>
        <td>{{ pet.typeName }}</td>
      </tr>
    </table>
  </div>

  <div class="col-7" *ngIf="pet.visits.length > 0">
    <h4 class="text-center">Visits</h4>
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <app-visits
          *ngFor="let visit of pet.visits"
          [visit]="visit"
        ></app-visits>
      </tbody>
    </table>
  </div>
  <div class="col-12">
    <button class="btn btn-info mr-2" routerLink="/editpet/{{ pet.id }}">
      EDIT PET
    </button>
    <button class="btn btn-danger mr-2" (click)="deletePet(pet)">
      DELETE PET
    </button>
    <button class="btn btn-info" routerLink="/addvisit/{{ pet.id }}">
      ADD VISIT
    </button>
  </div>
</div>
