<table class="table">
  <thead class="bg-dark text-light">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let visit of visits">
      <td>{{ visit.visitDate }}</td>
      <td>{{ visit.description }}</td>
      <td>
        <button
          class="btn btn-sm btn-info mr-2"
          routerLink="/editvisit/{{ visit.id }}"
        >
          E
        </button>
        <button class="btn btn-sm btn-danger" (click)="delete(visit)">
          X
        </button>
      </td>
    </tr>
  </tbody>
</table>
